*{
    padding: 0;
    margin: 0;
}

.nav-bar{
    background-color:  #212121;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar>input,::placeholder{
    background-color: #121212;
    border: none;
    width: 360px;
    height: 40px;
    color: white;
}

.search-bar>input::placeholder{
    color: #AAAAAA;
    font-size: 16px;
    font-weight: 400;
    padding:10px;
}



#search-button{
    border: none;
    transition: all 0.5s;
}

#search-button:hover{
    transform: scale(1.1);
    background-color: #212121;
}

.main{
    display: flex;
    width: 100%;
}

.side-bar{
flex: 1;
background-color: #212121;
height: 1000px;
display: flex;
flex-direction: column;

}

.side1{
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side1>button{
    background-color: #212121;
    color: white;
    border: none;
}

.side1>button:hover{
    background-color:#303030;  
}

.side-content{
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
text-align: left;
}

.home>div{
    margin: 10px;
}

.side2{
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side2>button{
    background-color: #212121;
    color: white;
    border: none;
}

.side2>button:hover{
    background-color:#303030;  
}

.side-content{
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
text-align: left;
}

.home>div{
    margin: 10px;
}

hr{
   background-color: white;
}

.main-bar{
flex: 4;
height: 1000px;
background-color: black;
display: flex;
flex-direction: column;
}